*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    place-items: center;
    display: flex;
    justify-content: center;
}

.container{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
    
}
.head{
    margin-bottom: 20px;
    color: blueviolet;
}

.cant{
    font-size: 100px;
    margin-left: 50px;

}


button {
    
    display: block;
    margin: 10px;
    padding: 10px 25px;
    color: #fff;
    border-radius: 20px;
    border: transparent;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: 14px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 12px -5px rgba(0, 0, 0, 0.75);
    margin-top: 40px;
    margin-right: 10px;
    transition: 500ms ease-in-out; 
}

.addcount{
    background-color: green;
}

.subcount{
    background-color: red;
}

button:hover {
      transform: scale(1.1); 
}
